<!DOCTYPE html>
<html><table>
                    <tbody>
                    <tr>
                        <td><span th:text="${account.email}"> </span></td>
                        <td><span th:text="${account.firstName}"> </span></td>
                        <td><span th:text="${account.lastName}"> </span></td>
                        <td></span></td>
                    </tr>
                    <tr th:each="usage : ${usages}">
                        <td style="text-align: center"><span th:text="${usage.usageId.usageDate}"> </span></td>
                    </tr>
                    </tbody>
                </table>
</html>